<div class="d-flex flex-column">
<%= render "shared/header" %>
<%= render "shared/nav"%>

<div class="py-2">
    <%= render "home/banner" %>

    <%= render "home/categories" %>

    <h1 class="text-center" style="color: #1d434e">Explore our market place</h1>

</div>

<%= render "shared/footer" %>
</div>