<div id="<%= dom_id product %>">
  <p>
    <%= image_tag  @product.product_attachments[0] %>
    <%= @product_attachments.each do |p| %>
        <%= p %>
        <%= image_tag p.product_image_url, style: "max-width: 200px; max-height: 200px" %>
    <% end %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= product.short_description %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= product.condition %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

</div>
